.body{
    min-height: 100vh;
    width: 100vw;
    background: #afd4c0;
    display:flex;
    
    justify-content: space-evenly
}

.weird-green-box-thing{
    width: 60vw;
    height: 100%;
    background: yellow;
    justify-content: space-evenly
}